Repository polyscale/polyscale-node: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, scriptlint --fix, prettier --write

.lintstagedrc:

{
  "*.ts": [
    "eslint --fix"
  ],
  "package.json": [
    "scriptlint --fix"
  ],
  '*.{md,mdx,css,yaml,yml}': ['prettier --write'],
}

docs: fix module import
  README.md
Due: prettier --write

chore(release): 0.0.1
  CHANGELOG.md
Due: prettier --write

docs: update readme license
  README.md
Due: prettier --write

fix: update main
  package.json
Due: scriptlint --fix

chore(release): 0.0.2
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

feat: optional id on cache creation
  src/lib/CacheApi.ts
Due: eslint --fix

chore(release): 0.0.3
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

feat: new cache key format
  example/example.ts
  src/lib/CacheApi.ts
  src/lib/CacheTtlApi.ts
Due: eslint --fix

chore(release): 0.0.4
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

fix: add build files
  lib/lib/CacheApi.d.ts
  lib/lib/CacheApi.js
  lib/lib/CacheApi.js.map
  lib/lib/CacheTtlApi.d.ts
  lib/lib/CacheTtlApi.js
  lib/lib/CacheTtlApi.js.map
Due: eslint --fix

feat: more concise function signatures
  example/example.ts
  lib/lib/CacheApi.d.ts
  lib/lib/CacheApi.js
  lib/lib/CacheApi.js.map
  lib/lib/CacheTtlApi.d.ts
  lib/lib/CacheTtlApi.js
  lib/lib/CacheTtlApi.js.map
  src/lib/CacheApi.ts
  src/lib/CacheTtlApi.ts
Due: eslint --fix

chore(release): 0.0.5
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

fix: correctly forward api errors
  src/lib/fetch.ts
Due: eslint --fix

chore(release): 0.0.6
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

fix: build for js
  lib/lib/fetch.js
  lib/lib/fetch.js.map
  package-lock.json
Due: none

fix: husky precommit hook
  .husky/pre-commit
  npm/postinstall.sh
  package-lock.json
  package.json
  scripts/npm/postinstall.sh
Due: scriptlint --fix

chore(release): 0.0.7
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

fix: drop workspace id
  jest.config.js
  lib/lib/CacheApi.d.ts
  lib/lib/CacheApi.js
  lib/lib/CacheApi.js.map
  lib/lib/CacheTtlApi.d.ts
  lib/lib/CacheTtlApi.js
  lib/lib/CacheTtlApi.js.map
  lib/lib/fetch.d.ts
  lib/lib/fetch.js
  lib/lib/fetch.js.map
  lib/lib/test/CacheApi.test.d.ts
  lib/lib/test/CacheApi.test.js
  lib/lib/test/CacheApi.test.js.map
  lib/lib/test/CacheTtlApi.test.d.ts
  lib/lib/test/CacheTtlApi.test.js
  lib/lib/test/CacheTtlApi.test.js.map
  lib/lib/test/fetch.test.d.ts
  lib/lib/test/fetch.test.js
  lib/lib/test/fetch.test.js.map
  lib/test/utils.d.ts
  lib/test/utils.js
  lib/test/utils.js.map
  package.json
  src/lib/CacheApi.ts
  src/lib/CacheTtlApi.ts
  src/lib/fetch.ts
  src/lib/test/CacheApi.test.ts
  src/lib/test/CacheTtlApi.test.ts
  src/lib/test/fetch.test.ts
  src/test/utils.ts
Due: eslint --fix, scriptlint --fix

fix: drop id from create cache
  example/example.ts
  lib/lib/CacheApi.d.ts
  lib/lib/CacheApi.js.map
  lib/lib/test/CacheApi.test.d.ts
  lib/lib/test/CacheApi.test.js
  lib/lib/test/CacheApi.test.js.map
  lib/lib/test/CacheTtlApi.test.d.ts
  lib/lib/test/CacheTtlApi.test.js
  lib/lib/test/CacheTtlApi.test.js.map
  lib/lib/test/fetch.test.d.ts
  lib/lib/test/fetch.test.js
  lib/lib/test/fetch.test.js.map
  package.json
  src/lib/CacheApi.ts
  tsconfig.json
Due: eslint --fix, scriptlint --fix

chore(release): 0.0.8
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

fix: removed postinstall script
  package.json
Due: scriptlint --fix

chore(release): 0.0.9
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

chore(release): 0.0.10
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

feat: purge cache
  lib/lib/CacheApi.d.ts
  lib/lib/CacheApi.js
  lib/lib/CacheApi.js.map
  lib/lib/fetch.d.ts
  src/lib/CacheApi.ts
  src/lib/fetch.ts
  src/lib/test/CacheApi.test.ts
Due: eslint --fix

chore(release): 0.0.11
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

fix: empty purge body
  lib/lib/CacheApi.js
  lib/lib/CacheApi.js.map
  src/lib/CacheApi.ts
  src/lib/test/CacheApi.test.ts
Due: eslint --fix

chore(release): 0.0.12
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

feat: support database/cachingEnabled/autoEnabled
  lib/lib/CacheApi.d.ts
  lib/lib/CacheApi.js.map
  src/lib/CacheApi.ts
  src/lib/test/CacheApi.test.ts
Due: eslint --fix

chore(release): 0.0.13
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

feat: defaultCachingBehaviour
  lib/lib/CacheApi.d.ts
  src/lib/CacheApi.ts
  src/lib/test/CacheApi.test.ts
Due: eslint --fix

chore(release): 0.0.14
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

fix: support auto/manual ttl
  lib/lib/CacheTtlApi.d.ts
  lib/lib/CacheTtlApi.js
  lib/lib/CacheTtlApi.js.map
  src/lib/CacheTtlApi.ts
  src/lib/test/CacheTtlApi.test.ts
Due: eslint --fix

chore(release): 0.0.15
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

feat: make example testable
  example/example.ts
  package.json
Due: eslint --fix, scriptlint --fix

chore(release): 0.0.16
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

feat: mssql graphql caches
  src/lib/CacheApi.ts
Due: eslint --fix

chore(release): 0.0.17
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

chore: update deps and add build
  lib/lib/CacheApi.d.ts
  lib/lib/CacheApi.js
  lib/lib/CacheApi.js.map
  lib/lib/CacheTtlApi.js
  lib/lib/CacheTtlApi.js.map
  lib/lib/fetch.js
  lib/lib/fetch.js.map
  lib/test/utils.js
  lib/test/utils.js.map
  package-lock.json
  package.json
  src/lib/test/fetch.test.ts
Due: eslint --fix, scriptlint --fix

chore(release): 0.0.18
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

chore(release): 0.0.19
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write
