Repository polyscale/polyscale-node: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, scriptlint --fix, prettier --write

chore: bump dependencies
  package-lock.json
  package.json
Due: scriptlint --fix

chore(release): 0.0.20
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

feat: publish to npm
  .github/workflows/publish.yml
  package.json
Due: scriptlint --fix, prettier --write

ci: update workflow
  .github/workflows/publish.yml
Due: prettier --write

feat: add new property type
  src/lib/CacheApi.ts
Due: eslint --fix

chore(release): 0.0.21
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

fix: add build files
  lib/lib/CacheApi.d.ts
  lib/lib/CacheApi.js.map
  package.json
Due: eslint --fix, scriptlint --fix

chore(release): 0.0.22
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

feat: bump node-fetch
  package-lock.json
  package.json
Due: scriptlint --fix

chore(release): 0.0.23
  CHANGELOG.md
  package.json
Due: scriptlint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  scriptlint --fix: any of: package.json
  prettier --write: any of: *.{md,mdx,css,yaml,yml}
